* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter' sans-serif;
}



.login_container {
    width: 35vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border: 1px solid lightgray; */
    padding: 10px;
    align-items: center;
    box-shadow: 1px 6px 12px 4px gainsboro
}

.login_signInButton {
    background: #346de8;
    border-radius: 2px;
    width: 30vw;
    height: 30px;
    border: 1px solid;
    margin-top: 30px;
    border-color: #a88734 #9c7e31 #846a29;
    color: white;

}

.login_container>form>input {
    height: 30px;
    margin-bottom: 5px;
    background-color: white;
    width: 29vw;
    /* font-size: 18px; */
    border: 1px solid gray;
    border-radius: 5px;

}

.login_container>form>h4 {
    width: 100px;
    margin-bottom: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 1px;


}

.checkbox>p {
    margin-left: 170px;
    margin-top: 1px;
    color: #fd5800;
}

.term_condition {
    display: flex;
    align-items: center;
}

.term_condition>b {
    color: #fd5800;
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.register>button {
    border: none;
    background: none;
    color: #fd5800;

}

.password {
    display: flex;
    align-items: center;
}

.password>input {
    height: 30px;
    margin-bottom: 5px;
    background-color: white;
    width: 29vw;
    /* font-size: 18px; */
    border: 1px solid gray;
    border-radius: 5px;

}